<AddressBaseDefs>
  <!--<AddressBase baseName="EAPWrite" device="W" baseAddress="0000"></AddressBase>-->
  <!--AddressBase baseName="EAP_W" device="W" baseAddress="0000">
  </AddressBase-->
  <!--**************************************************************************************************************************-->
  <!--***********************************************************BC to Read***********************************************************-->
  <!--**************************************************************************************************************************-->
  <AddressBase baseName="OHxC" device="W" baseAddress="0000"/>

  <AddressBase baseName="MTL_TO_OHXC" device="4" baseAddress="7351"/>

  <AddressBase baseName="MTL_TO_OHXC_INDEX_AREA" device="4" baseAddress="3108"/>
  <AddressBase baseName="MTL_TO_OHXC_HANDSHAKE_AREA" device="4" baseAddress="3114"/>
  <AddressBase baseName="MTL_TO_OHXC_CURRENT_CAR_ID" device="4" baseAddress="3119"/>
  <AddressBase baseName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST" device="4" baseAddress="3122"/>
  <AddressBase baseName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY" device="4" baseAddress="3125"/>
  <AddressBase baseName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK" device="4" baseAddress="3126"/>
  <AddressBase baseName="MTL_TO_OHXC_LFT_STATUS" device="4" baseAddress="3129"/>
  <AddressBase baseName="MTL_TO_OHXC_ALARM_REPORT" device="4" baseAddress="3149"/>
  <AddressBase baseName="MTL_TO_OHXC_CST_INTERFACE" device="0" baseAddress="624"/>

  <AddressBase baseName="OHXC_TO_MTL_INDEX_AREA" device="4" baseAddress="2990"/>
  <AddressBase baseName="OHXC_TO_MTL_HANDSHAKE_AREA" device="4" baseAddress="3001"/>
  <AddressBase baseName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND" device="4" baseAddress="3006"/>
  <AddressBase baseName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD" device="4" baseAddress="3013"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO" device="4" baseAddress="3064"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_REPLY" device="4" baseAddress="3074"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_NOTIFY" device="4" baseAddress="3075"/>
  <AddressBase baseName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK" device="4" baseAddress="3078"/>
  <AddressBase baseName="OHXC_TO_MTL_CST_INTERFACE" device="0" baseAddress="592"/>

  <AddressBase baseName="HID_TO_OHXC_DATA_AREA" device="4" baseAddress="0320"/>
  <AddressBase baseName="HID_TO_OHXC_DATA_AREA_B" device="0" baseAddress="866"/>
  <!--<AddressBase baseName="OHXC_TO_HID_DATA_AREA" device="0" baseAddress="859"/>-->
  <AddressBase baseName="OHXC_TO_HID_DATA_AREA" device="4" baseAddress="0322"/>


  <!--________________________OHCV______________________-->
  <AddressBase baseName="OHCV_READ" device="0" baseAddress="0000"/>
  <AddressBase baseName="OHCV_WRITE" device="0" baseAddress="0001"/>
  <!--________________________Four Color Light______________________-->
  <AddressBase baseName="FOUR_COLOR_LIGHT_WRITE" device="0" baseAddress="0001"/>

</AddressBaseDefs>
