<?xml version="1.0" encoding="utf-8" ?>
<!-- Connection Type: 1 = Mitsubishi, 2 = Mirle, 3 = ADAM-6050-->
<MPLCConnectionSetting>
  <Connection Name="MTL" Type="2" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                 AliveMPLCDeviceBlock="43079">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="3108" EndBlock="3177"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="1000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="624" EndBlock="641"></ReadRange>
    </Device>
  </Connection>
  <Connection Name="MTS" Type="2" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                   AliveMPLCDeviceBlock="43079">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="3108" EndBlock="3177"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="1000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="624" EndBlock="641"></ReadRange>
    </Device>
  </Connection>
  <Connection Name="MTS2" Type="2" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                   AliveMPLCDeviceBlock="43079">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="3108" EndBlock="3177"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="1000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="624" EndBlock="641"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="HID" Type="2" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                AliveMPLCDeviceBlock="40320">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0320" EndBlock="0354"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="1000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="864" EndBlock="876"></ReadRange>
    </Device>
  </Connection>
  <Connection Name="HID2" Type="2" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                AliveMPLCDeviceBlock="40320">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0320" EndBlock="0354"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="1000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="864" EndBlock="876"></ReadRange>
    </Device>
  </Connection>
  <Connection Name="HID3" Type="2" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                AliveMPLCDeviceBlock="40320">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0320" EndBlock="0354"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="1000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="864" EndBlock="876"></ReadRange>
    </Device>
  </Connection>
  <Connection Name="HID4" Type="2" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                AliveMPLCDeviceBlock="40320">
    <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0320" EndBlock="0354"></ReadRange>
    </Device>
    <Device Type="0" BufferLength="1000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="864" EndBlock="876"></ReadRange>
    </Device>
  </Connection>


  <!--<Connection Name="ALL" Type="2" IP="192.168.32.240" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                  AliveMPLCDeviceBlock="W41">
      <Device Type="4" BufferLength="9999" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
        <ReadRange BeginBlock="0320" EndBlock="6400"></ReadRange>
      </Device>
      <Device Type="0" BufferLength="1000" IdRadix="10" BlockBitCount="16" DeviceBitCount="1">
        <ReadRange BeginBlock="624" EndBlock="874"></ReadRange>
      </Device>
    </Connection>-->

  <!--這是ADAM 6050的設定，請注意以下幾點，Connection部分Type請設為3，IP請設定ADAM-6050的IP位置，Port要設成502。Device部分Type設為0。ReadRange部分BeginBlock設為0，BeginBlock設為12-->
  <Connection Name="CV31_A" Type="3" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
              AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="CV31_B" Type="3" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
            AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="CV32_A" Type="3" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
            AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="CV32_B" Type="3" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
            AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="CV61_A" Type="3" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
            AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="CV61_B" Type="3" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
            AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="CV62_A" Type="3" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
            AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>
  
  <Connection Name="FOUR_COLOR_LIGHT" Type="3" IP="127.0.0.1" Port="502" ReadIntervalMilliSec="1000" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
        AliveMPLCDeviceBlock="W41">
    <Device Type="0" BufferLength="200" IdRadix="10" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="00012"></ReadRange>
    </Device>
  </Connection>
</MPLCConnectionSetting>