<?xml version="1.0" encoding="utf-8" ?>
<SECSConnectionSetting>
  <!-- ConnectMode: 0 = Passive, 1 = Active -->
  <!-- ProcessReceiveOrder: 0 = Normal, 1 = Queue, Default is [0]-->
  <!--<Connection Name="MES_TO_MP" DeviceID="0" LocalIP="127.0.0.1" LocalPort="7000" RemoteIP="127.0.0.1" RemotePort="7001"
               T3Timeout="30" T5Timeout="5" T6Timeout="50" T7Timeout="5" T8Timeout="5" RetryCount="0"
               ConnectMode="0" LinkTestTimer="5"
               TXLogPath="D:\NLog\SECSLog\MES\"
               ProcessReceiveOrder="0">
  </Connection>-->
  <!--<Connection Name="MES_TO_MP" DeviceID="1" LocalIP="172.18.77.10" LocalPort="5000" RemoteIP="172.18.77.10" RemotePort="5000"
                    T3Timeout="30" T5Timeout="5" T6Timeout="50" T7Timeout="5" T8Timeout="5" RetryCount="0"
                    ConnectMode="1" LinkTestTimer="5"
                    TXLogPath="D:\NLog\SECSLog\MES\"
                    ProcessReceiveOrder="0">
  </Connection>-->
  <Connection Name="MES_TO_MP" DeviceID="0" LocalIP="127.0.0.1" LocalPort="7001" RemoteIP="127.0.0.1" RemotePort="7000"
            T3Timeout="30" T5Timeout="5" T6Timeout="50" T7Timeout="5" T8Timeout="5" RetryCount="0"
            ConnectMode="1" LinkTestTimer="5"
            TXLogPath="D:\NLog\SECSLog\MES\"
            ProcessReceiveOrder="0">
  </Connection>
</SECSConnectionSetting>