<ValueEventRelativeDefs>
  <ValueEventRelative name="OHxC">
    <Relative valueDefName="OHxC_Alive_W" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHxC_Alive_R" offset="0" length="1" MPLCName="EQ"/>
    <!--<Relative valueDefName="HC01_DT" offset="0" length="6" MPLCName="EQ"/>
    <Relative valueDefName="HC01_ID" offset="7" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HC02_W" offset="9" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HC03_NO" offset="10" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HC03_MG" offset="11" length="50" MPLCName="EQ"/>
    <Relative valueDefName="HC03_ID" offset="62" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HC04_MPR" offset="63" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
    <Relative valueDefName="HC04_OM" offset="63" length="1" startBit="12" endBit="15" MPLCName="EQ"/>
    <Relative valueDefName="HC04_LW" offset="64" length="1" startBit="0" endBit="0" MPLCName="EQ"/>-->
  </ValueEventRelative>



  <!--==========================OHXC_TO_MTL============================-->
  <ValueEventRelative name="MTL_TO_OHXC">
    <Relative valueDefName="MTL_TO_OHXC_DATETIME" offset="0" length="7" MPLCName="EQ"/>
  </ValueEventRelative>


  <!--==========================MTL_TO_OHXC============================-->
  <ValueEventRelative name="MTL_TO_OHXC_INDEX_AREA">
    <Relative valueDefName="MTL_TO_OHXC_ALIVE_INDEX" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_CURRENT_CAR_ID_INDEX" offset="1" length="1" MPLCName="EQ"  BoundRelativeName = "MTL_TO_OHXC_CURRENT_CAR_ID"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_HANDSHAKE_AREA">
    <Relative valueDefName="MTL_TO_OHXC_ALARM_REPORT_HS" offset="0" length="1" MPLCName="EQ" BoundRelativeName = "MTL_TO_OHXC_ALARM_REPORT"/>
    <Relative valueDefName="MTL_TO_OHXC_REPLY_ALARM_RESET_HS" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST_HS" offset="2" length="1" MPLCName="EQ" BoundRelativeName = "MTL_TO_OHXC_MTL_CAR_OUT_REQUEST"/>
    <Relative valueDefName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY_HS" offset="3" length="1" MPLCName="EQ" BoundRelativeName = "MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY"/>
    <Relative valueDefName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK_HS" offset="4" length="1" MPLCName="EQ" BoundRelativeName = "MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK"/>
  </ValueEventRelative>

  <ValueEventRelative name="MTL_TO_OHXC_CURRENT_CAR_ID" >
    <Relative valueDefName="MTL_TO_OHXC_CURRENT_CAR_ID_MTL_STATION_ID" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_CURRENT_CAR_ID_CAR_ID" offset="1" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST" >
    <Relative valueDefName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST_MTL_STATION_ID" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST_CAR_ID" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_MTL_CAR_OUT_CANCEL" offset="2" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY">
    <Relative valueDefName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY_RETURN_CODE" offset="0" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK">
    <Relative valueDefName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK_MTL_STATION_ID" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK_CAR_ID" offset="1" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_LFT_STATUS">
    <Relative valueDefName="MTL_TO_OHXC_LFT_STATUS_HAS_VEHICLE" offset="0" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_LFT_STATUS_STOP_SINGLE" offset="1" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_LFT_MODE" offset="2" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_LFT_LOCATION" offset="3" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_LFT_MOVING_STATUS" offset="4" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_LFT_ENCODER" offset="5" length="2" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_LFT_VEHICLE_IN_POSITION" offset="7" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_LFT_FRONT_DOOR_STATUS" offset="8" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_LFT_BACK_DOOR_STATUS" offset="9" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_ALARM_REPORT">
    <Relative valueDefName="MTL_TO_OHXC_ALARM_REPORT_ERROR_CODE" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_ALARM_REPORT_ERROR_STATUS" offset="1" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="MTL_TO_OHXC_CST_INTERFACE">
    <Relative valueDefName="MTL_TO_OHXC_U2D_SAFETY_CHECK" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_D2U_SAFETY_CHECK" offset="16" length="1" MPLCName="EQ"/>
    <Relative valueDefName="MTL_TO_OHXC_D2U_CAR_IN_INTERLOCK" offset="17" length="1" MPLCName="EQ"/>
  </ValueEventRelative>

  <!--==========================OHXC_TO_MTL============================-->
  <ValueEventRelative name="OHXC_TO_MTL_INDEX_AREA">
    <Relative valueDefName="OHXC_TO_MTL_ALIVE_INDEX" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_INDEX" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD_INDEX" offset="2" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_INDEX" offset="3" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_HANDSHAKE_AREA">
    <Relative valueDefName="OHXC_TO_MTL_REPLY_ALARM_REPORT_HS" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_ALARM_RESET_REQUEST_HS" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REPLY_HS" offset="2" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_NOTIFY_HS" offset="3" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK_HS" offset="4" length="1" MPLCName="EQ"/>
  </ValueEventRelative>

  <ValueEventRelative name="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND">
    <Relative valueDefName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_YEAR" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_MONTH" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_DAY" offset="2" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_HOUR" offset="3" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_MINUTE" offset="4" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND_SECOND" offset="5" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD">
    <Relative valueDefName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD_MESSAGE" offset="0" length="50" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO">
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CAR_ID" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_ACTION_MODE" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CST_EXIST" offset="2" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CURRENT_SECTION_ID" offset="3" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CURRENT_ADDRESS_ID" offset="4" length="2" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CURRENT_BUFFER_DISTANCE" offset="6" length="2" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO_CURRENT_SPEED" offset="8" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_CAR_OUT_REPLY">
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_REPLY_RETURN_CODE" offset="0" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_CAR_OUT_NOTIFY">
    <Relative valueDefName="OHXC_TO_MTL_CAR_OUT_NOTIFY_CAR_ID" offset="0" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <ValueEventRelative name="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK">
    <Relative valueDefName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK_RETURN_CODE" offset="0" length="1" MPLCName="EQ"/>
  </ValueEventRelative>

  <ValueEventRelative name="OHXC_TO_MTL_CST_INTERFACE">
    <Relative valueDefName="OHXC_TO_MTL_U2D_CAR_OUT_INTERLOCK" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_U2D_CAR_OUT_READY" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_U2D_CAR_MOVING" offset="2" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_U2D_CAR_MOVE_COMPLETE" offset="3" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_D2U_CAR_MOVING" offset="16" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_MTL_D2U_CAR_MOVE_COMPLETE" offset="17" length="1" MPLCName="EQ"/>
  </ValueEventRelative>
  <!--==========================OHXC_TO_HID============================-->
  <ValueEventRelative name="HID_TO_OHXC">
    <Relative valueDefName="HID_TO_OHXC_ALIVE" offset="1" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_STATION_ID" offset="7" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HID_ID" offset="8" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_V_UNIT" offset="9" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_V_DOT" offset="10" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_A_UNIT" offset="11" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_A_DOT" offset="12" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_W_UNIT" offset="13" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_W_DOT" offset="14" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_UNIT" offset="15" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_DOT" offset="16" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_SIGMA_Hi_WORD" offset="17" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_SIGMA_Lo_WORD" offset="18" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_POSITIVE_Hi_WORD" offset="19" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_POSITIVE_Lo_WORD" offset="20" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_NEGATIVE_Hi_WORD" offset="21" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_HOUR_NEGATIVE_Lo_WORD" offset="22" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_VR" offset="23" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_VS" offset="24" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_VT" offset="25" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_SIGMA_V" offset="26" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_AR" offset="27" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_AS" offset="28" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_AT" offset="29" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_SIGMA_A" offset="30" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_WR" offset="31" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_WS" offset="32" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_WT" offset="33" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_SIGMA_W" offset="34" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_TRIGGER" offset="0" length="35" MPLCName="EQ"/>
  </ValueEventRelative>

  <ValueEventRelative name="HID_TO_OHXC_AREA_B">
    <Relative valueDefName="HID_TO_OHXC_POWER_ALARM" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HID_TO_OHXC_TEMP_ALARM" offset="1" length="1" MPLCName="EQ"/>
  </ValueEventRelative>

  <!--==========================HID_TO_OHXC============================-->
  <ValueEventRelative name="OHXC_TO_HID">
    <Relative valueDefName="OHXC_TO_HID_ALIVE_INDEX" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHXC_TO_HID_CONTROL" offset="33" length="1" MPLCName="EQ"/>
  </ValueEventRelative>

  <!--==========================OHCV_TO_OHTC============================-->
  <ValueEventRelative name="OHCV_TO_OHTC">
    <Relative valueDefName="DOOR_CLOSE" offset="0" length="1" startBit="0" endBit="0" MPLCName="CV31_A"/>
    <Relative valueDefName="SAFETY_CHECK_REQUEST" offset="0" length="1" startBit="1" endBit="1" MPLCName="CV31_A"/>
    <Relative valueDefName="REPLY_ROAD_CONTROL_INITIAL_NOTIFY" offset="0" length="1" startBit="2" endBit="2" MPLCName="CV31_A"/>
    <Relative valueDefName="REPLY_ROAD_CONTROL_COMPLETE_NOTIFY" offset="0" length="1" startBit="3" endBit="3" MPLCName="CV31_A"/>
    <Relative valueDefName="SAFETY_CHECK_COMPLETE" offset="0" length="1" startBit="4" endBit="4" MPLCName="CV31_A"/>
    <Relative valueDefName="OHCV_TO_OHTC_ALIVE" offset="0" length="1" startBit="5" endBit="5" MPLCName="CV31_A"/>
  </ValueEventRelative>

  <!--==========================OHTC_TO_OHCV============================-->
  <ValueEventRelative name="OHTC_TO_OHCV">
    <Relative valueDefName="ROAD_CONTROL_INITIAL_NOTIFY" offset="0" length="1" startBit="0" endBit="0" MPLCName="CV31_A"/>
    <Relative valueDefName="ROAD_CONTROL_COMPLETE_NOTIFY" offset="0" length="1" startBit="1" endBit="1" MPLCName="CV31_A"/>
    <Relative valueDefName="OHTC_TO_OHCV_ALIVE" offset="0" length="1" startBit="2" endBit="2" MPLCName="CV31_A"/>
  </ValueEventRelative>

  <!--==========================Four Color Light============================-->
  <ValueEventRelative name="FOUR_COLOR_LIGHT">
    <Relative valueDefName="BUZZER" offset="0" length="1" startBit="0" endBit="0" MPLCName="FOUR_COLOR_LIGHT"/>
    <Relative valueDefName="RED_LIGHT" offset="0" length="1" startBit="1" endBit="1" MPLCName="FOUR_COLOR_LIGHT"/>
    <Relative valueDefName="ORANGE_LIGHT" offset="0" length="1" startBit="2" endBit="2" MPLCName="FOUR_COLOR_LIGHT"/>
    <Relative valueDefName="GREEN_LIGHT" offset="0" length="1" startBit="3" endBit="3" MPLCName="FOUR_COLOR_LIGHT"/>
    <Relative valueDefName="BLUE_LIGHT" offset="0" length="1" startBit="4" endBit="4" MPLCName="FOUR_COLOR_LIGHT"/>
  </ValueEventRelative>
</ValueEventRelativeDefs>