<AddressBaseDefs>
  <!--<AddressBase baseName="EAPWrite" device="W" baseAddress="0000"></AddressBase>-->
  <!--AddressBase baseName="EAP_W" device="W" baseAddress="0000">
  </AddressBase-->
  <!--**************************************************************************************************************************-->
  <!--***********************************************************BC to Read***********************************************************-->
  <!--**************************************************************************************************************************-->
  <AddressBase baseName="OHxC" device="W" baseAddress="0000"/>
</AddressBaseDefs>
