<EQMapToValueEvent>
  <!--<EQObject id="BC_NODE" cate="Node">
    <ValueEvent baseName="BC_Write" relativeName="BCType1"></ValueEvent>
  </EQObject>
  <EQObject id="TR01_NODE" cate="Node">
    <ValueEvent baseName="EQ_TR01" relativeName="EQ2BC_TR01"></ValueEvent>
    <ValueEvent baseName="BC_TR01" relativeName="BC2EQ_TR01"></ValueEvent>
  </EQObject>
  <EQObject id="CLEN_NODE" cate="Node">
    <ValueEvent baseName="EQ_CLEN" relativeName="EQ2BC_CLEN"></ValueEvent>
    <ValueEvent baseName="BC_CLEN" relativeName="BC2EQ_CLEN"></ValueEvent>
  </EQObject>
  <EQObject id="VH_LINE" cate="Line" mplcName="EQ">
    <ValueEvent baseName="OHxC" relativeName="OHxC"></ValueEvent>
  </EQObject>
-->
</EQMapToValueEvent>