<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援三種：Equipment_Load、Equipment_UnLoad、Equipment_LUMix-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->

<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="OHS_LINE" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MCSDefaultMapAction, ScriptControl">
    <Zone id="OHS_ZPNE">
      <Node id="OHS_NODE" node_num="1" >
        <Vehicle id="OHT01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT01"/>
        <Vehicle id="OHT02" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT02"/>
        <Vehicle id="OHT03" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT03"/>
        <Vehicle id="OHT04" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT04"/>
        <Vehicle id="OHT05" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT05"/>
        <Vehicle id="OHT06" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT06"/>
        <Vehicle id="OHT07" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT07"/>
        <Vehicle id="OHT08" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT08"/>
        <Vehicle id="OHT09" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT09"/>
        <Vehicle id="OHT10" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT10"/>
        <Vehicle id="OHT11" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT11"/>
        <Vehicle id="OHT12" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT12"/>
        <Vehicle id="OHT13" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT13"/>
        <Vehicle id="OHT14" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT14"/>
        <Vehicle id="OHT15" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT15"/>
        <Vehicle id="OHT16" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT16"/>
        <Vehicle id="OHT17" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT17"/>
        <Vehicle id="OHT18" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT18"/>
        <Vehicle id="OHT19" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT19"/>
        <Vehicle id="OHT20" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT20"/>
        <Vehicle id="OHT21" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT21"/>
        <Vehicle id="OHT22" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT22"/>
        <Vehicle id="OHT23" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT23"/>
      </Node>
      <Node id="EQ_NODE" node_num="1" >
        <EQPT id="EQ" communicationType="1" >
          <PortStation id="P01" adr_id="00000"  load_vh_type ="0" unload_vh_type="1" priority="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortDefaultValueDefMapAction, ScriptControl"/>
        </EQPT>
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>