<?xml version="1.0" encoding="utf-8" ?>
<MPLCConnectionSetting>
  <!--<Connection Name="EQ" LogicalStationNumber="2" ReadIntervalMilliSec="100" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="82000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="0000" EndBlock="0100"></ReadRange>
    </Device>
  </Connection>-->
</MPLCConnectionSetting>