<ValueEventRelativeDefs>
  <ValueEventRelative name="OHxC">
    <Relative valueDefName="OHxC_Alive_W" offset="0" length="1" MPLCName="EQ"/>
    <Relative valueDefName="OHxC_Alive_R" offset="0" length="1" MPLCName="EQ"/>
    <!--<Relative valueDefName="HC01_DT" offset="0" length="6" MPLCName="EQ"/>
    <Relative valueDefName="HC01_ID" offset="7" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HC02_W" offset="9" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HC03_NO" offset="10" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HC03_MG" offset="11" length="50" MPLCName="EQ"/>
    <Relative valueDefName="HC03_ID" offset="62" length="1" MPLCName="EQ"/>
    <Relative valueDefName="HC04_MPR" offset="63" length="1" startBit="0" endBit="0" MPLCName="EQ"/>
    <Relative valueDefName="HC04_OM" offset="63" length="1" startBit="12" endBit="15" MPLCName="EQ"/>
    <Relative valueDefName="HC04_LW" offset="64" length="1" startBit="0" endBit="0" MPLCName="EQ"/>-->
  </ValueEventRelative>
</ValueEventRelativeDefs>