<ValueDefs>
  <!-- rangeType:'W', 'B', or 'D'。B Type只接受length為1 -->
  <!-- targetType: "String", "Boolean", "UInt16", "UInt16[]", "UInt32", "UInt32[]", or "Boolean[]" -->
  <!-- actionType: "W" or "R". W=Write, R=Read -->
  <!-- baseName: 即AddressBase定義的名稱 -->
  <!-- offset: 相對於AddressBase的偏移值 -->
  <!-- length: 長度 -->
  <!-- startBit & endBit: 0~15，如果有定義此項目，則不允許跨device的情況出現，也就是length必定是1 -->
  <!-- splitLength: 指定分割長度。用於切割讀取或寫入的值。 -->



  <!--**************************************************************************************************************************-->
  <!--************************************************************Write_Word****************************************************-->
  <!--**************************************************************************************************************************-->
  <!--Equipment EQObjectID="PRN1" EQObjCate="Line" baseName="EAP_W" offset="0" length="1"-->
  <ValueDef name="OHxC_Alive_W" scenarioName="OHxC_Alive" desc="OHxC_Alive" rangeType="W" targetType="UInt16" actionType="W">
  </ValueDef>
  <ValueDef name="OHxC_Alive_R" scenarioName="OHxC_Alive" desc="OHxC_Alive" rangeType="W" targetType="UInt16" actionType="R">
  </ValueDef>


</ValueDefs>


