<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援三種：Equipment_Load、Equipment_UnLoad、Equipment_LUMix-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->

<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="VH_LINE" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MESDefaultMapAction, ScriptControl">
    <Zone id="VH_LINE">
      <Node id="VH_LINE" node_num="1" >
        <EQPT id="OHT01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT01"/>
        <EQPT id="OHT02" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT02"/>
        <EQPT id="OHT03" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT03"/>
        <EQPT id="OHT04" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT04"/>
        <EQPT id="OHT05" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT05"/>
        <EQPT id="OHT06" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT06"/>
        <EQPT id="OHT07" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT07"/>
        <EQPT id="OHT08" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT08"/>
        <EQPT id="OHT09" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT09"/>
        <EQPT id="OHT10" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHT_TO_OHT10"/>
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>