<?xml version="1.0" encoding="utf-8" ?>
<TcpIpConnectionSetting>
  <Common RecvTimeout="10000" SendTimeout="-1" MaxReadSize="1024" ReconnectInterval="5000" RetryCount="0"/>
  <Connection Name="OHT_TO_OHT01" LocalIP="127.0.0.1" LocalPort="5000" RemoteIP="127.0.0.1" RemotePort="5001" ConnectionMode="0"/>
  <Connection Name="OHT_TO_OHT02" LocalIP="127.0.0.1" LocalPort="5000" RemoteIP="127.0.0.1" RemotePort="5002" ConnectionMode="0"/>
  <Connection Name="OHT_TO_OHT03" LocalIP="127.0.0.1" LocalPort="5000" RemoteIP="127.0.0.1" RemotePort="5003" ConnectionMode="0"/>
  <Connection Name="OHT_TO_OHT04" LocalIP="127.0.0.1" LocalPort="5000" RemoteIP="127.0.0.1" RemotePort="5004" ConnectionMode="0"/>
  <Connection Name="OHT_TO_OHT05" LocalIP="127.0.0.1" LocalPort="5000" RemoteIP="127.0.0.1" RemotePort="5005" ConnectionMode="0"/>
  <Connection Name="OHT_TO_OHT06" LocalIP="127.0.0.1" LocalPort="5000" RemoteIP="127.0.0.1" RemotePort="5006" ConnectionMode="0"/>
  <Connection Name="OHT_TO_OHT07" LocalIP="127.0.0.1" LocalPort="5000" RemoteIP="127.0.0.1" RemotePort="5007" ConnectionMode="0"/>
  <Connection Name="OHT_TO_OHT08" LocalIP="127.0.0.1" LocalPort="5000" RemoteIP="127.0.0.1" RemotePort="5008" ConnectionMode="0"/>
  <Connection Name="OHT_TO_OHT09" LocalIP="127.0.0.1" LocalPort="5000" RemoteIP="127.0.0.1" RemotePort="5009" ConnectionMode="0"/>
  <Connection Name="OHT_TO_OHT10" LocalIP="127.0.0.1" LocalPort="5000" RemoteIP="127.0.0.1" RemotePort="5010" ConnectionMode="0"/>
  <!--<Connection Name="OHT004" LocalIP="127.0.0.1" LocalPort="5000" RemoteIP="127.0.0.1" RemotePort="5004"/>-->
</TcpIpConnectionSetting>