<EQMapToValueEvent>
  <!--<EQObject id="MTL" cate="Equipment" MPLCName="MTL" isValueEventTrigger="Y">
    <ValueEvent baseName="MTL_TO_OHXC_INDEX_AREA" relativeName="MTL_TO_OHXC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_HANDSHAKE_AREA" relativeName="MTL_TO_OHXC_HANDSHAKE_AREA"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_CURRENT_CAR_ID" relativeName="MTL_TO_OHXC_CURRENT_CAR_ID"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST" relativeName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY" relativeName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK" relativeName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_LFT_STATUS" relativeName="MTL_TO_OHXC_LFT_STATUS"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_CST_INTERFACE" relativeName="MTL_TO_OHXC_CST_INTERFACE"></ValueEvent>

    <ValueEvent baseName="OHXC_TO_MTL_INDEX_AREA" relativeName="OHXC_TO_MTL_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_HANDSHAKE_AREA" relativeName="OHXC_TO_MTL_HANDSHAKE_AREA"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND" relativeName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD" relativeName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO" relativeName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_CAR_OUT_REPLY" relativeName="OHXC_TO_MTL_CAR_OUT_REPLY"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_CAR_OUT_NOTIFY" relativeName="OHXC_TO_MTL_CAR_OUT_NOTIFY"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK" relativeName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_CST_INTERFACE" relativeName="OHXC_TO_MTL_CST_INTERFACE"></ValueEvent>
  </EQObject>-->
  <!-- <EQObject id="HID" cate="Equipment" MPLCName="ALL" isValueEventTrigger="Y">
    <ValueEvent baseName="HID_TO_OHXC_DATA_AREA" relativeName="HID_TO_OHXC"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_HID_DATA_AREA" relativeName="OHXC_TO_HID"></ValueEvent>
  </EQObject>-->
</EQMapToValueEvent>