<AddressBaseDefs>
  <!--<AddressBase baseName="EAPWrite" device="W" baseAddress="0000"></AddressBase>-->
  <!--AddressBase baseName="EAP_W" device="W" baseAddress="0000">
  </AddressBase-->
  <!--**************************************************************************************************************************-->
  <!--***********************************************************BC to Read***********************************************************-->
  <!--**************************************************************************************************************************-->
  <AddressBase baseName="OHxC" device="W" baseAddress="0000"/>
  <AddressBase baseName="VH_STATUS_W" device="W" baseAddress="800"/>
  <AddressBase baseName="VH_HARDWARE_W" device="W" baseAddress="900"/>
  <AddressBase baseName="IF_VEHICLE_INTERFACE_W" device="W" baseAddress="A00"/>
  <AddressBase baseName="PLC_CONTROL_INDEX_W" device="W" baseAddress="B00"/>


  <AddressBase baseName="MTL_TO_OHXC_INDEX_AREA" device="W" baseAddress="C2A"/>
  <AddressBase baseName="MTL_TO_OHXC_HANDSHAKE_AREA" device="W" baseAddress="C2C"/>
  <AddressBase baseName="MTL_TO_OHXC_CURRENT_CAR_ID" device="W" baseAddress="C2F"/>
  <AddressBase baseName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST" device="W" baseAddress="C32"/>
  <AddressBase baseName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY" device="W" baseAddress="C35"/>
  <AddressBase baseName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK" device="W" baseAddress="C36"/>
  <AddressBase baseName="MTL_TO_OHXC_LFT_STATUS" device="W" baseAddress="C39"/>
  <AddressBase baseName="MTL_TO_OHXC_CST_INTERFACE" device="B" baseAddress="270"/>


  <AddressBase baseName="OHXC_TO_MTL_INDEX_AREA" device="W" baseAddress="BB7"/>
  <AddressBase baseName="OHXC_TO_MTL_HANDSHAKE_AREA" device="W" baseAddress="BBB"/>
  <AddressBase baseName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND" device="W" baseAddress="BBE"/>
  <AddressBase baseName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD" device="W" baseAddress="BC5"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO" device="W" baseAddress="BF8"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_REPLY" device="W" baseAddress="C02"/>
  <AddressBase baseName="OHXC_TO_MTL_CAR_OUT_NOTIFY" device="W" baseAddress="C03"/>
  <AddressBase baseName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK" device="W" baseAddress="C06"/>
  <AddressBase baseName="OHXC_TO_MTL_CST_INTERFACE" device="B" baseAddress="250"/>


</AddressBaseDefs>
