<EQMapToValueEvent>
  <!--<EQObject id="BC_NODE" cate="Node">
    <ValueEvent baseName="BC_Write" relativeName="BCType1"></ValueEvent>
  </EQObject>
  <EQObject id="TR01_NODE" cate="Node">
    <ValueEvent baseName="EQ_TR01" relativeName="EQ2BC_TR01"></ValueEvent>
    <ValueEvent baseName="BC_TR01" relativeName="BC2EQ_TR01"></ValueEvent>
  </EQObject>
  <EQObject id="CLEN_NODE" cate="Node">
    <ValueEvent baseName="EQ_CLEN" relativeName="EQ2BC_CLEN"></ValueEvent>
    <ValueEvent baseName="BC_CLEN" relativeName="BC2EQ_CLEN"></ValueEvent>
  </EQObject>-->
  <!--<EQObject id="VH_LINE" cate="Line" MPLCName="OHx01">
    <ValueEvent baseName="OHxC" relativeName="OHxC"></ValueEvent>
  </EQObject>-->
  <EQObject id="OHx01" cate="Equipment" MPLCName="OHx01" isValueEventTrigger="N">
    <ValueEvent baseName="VH_STATUS_W" relativeName="VH_STATUS"></ValueEvent>
    <ValueEvent baseName="VH_HARDWARE_W" relativeName="VH_HARDWARE"></ValueEvent>
    <ValueEvent baseName="IF_VEHICLE_INTERFACE_W" relativeName="IF_VEHICLE_INTERFACE"></ValueEvent>
    <ValueEvent baseName="PLC_CONTROL_INDEX_W" relativeName="PLC_CONTROL"></ValueEvent>
  </EQObject>
  <EQObject id="OHx02" cate="Equipment" MPLCName="OHx02" isValueEventTrigger="N">
    <ValueEvent baseName="VH_STATUS_W" relativeName="VH_STATUS"></ValueEvent>
    <ValueEvent baseName="VH_HARDWARE_W" relativeName="VH_HARDWARE"></ValueEvent>
    <ValueEvent baseName="IF_VEHICLE_INTERFACE_W" relativeName="IF_VEHICLE_INTERFACE"></ValueEvent>
    <ValueEvent baseName="PLC_CONTROL_INDEX_W" relativeName="PLC_CONTROL"></ValueEvent>
  </EQObject>
  <EQObject id="OHx03" cate="Equipment" MPLCName="OHx03" isValueEventTrigger="N">
    <ValueEvent baseName="VH_STATUS_W" relativeName="VH_STATUS"></ValueEvent>
    <ValueEvent baseName="VH_HARDWARE_W" relativeName="VH_HARDWARE"></ValueEvent>
    <ValueEvent baseName="IF_VEHICLE_INTERFACE_W" relativeName="IF_VEHICLE_INTERFACE"></ValueEvent>
    <ValueEvent baseName="PLC_CONTROL_INDEX_W" relativeName="PLC_CONTROL"></ValueEvent>
  </EQObject>

  <!--<EQObject id="MTL" cate="Equipment" MPLCName="MTL" isValueEventTrigger="Y">
    <ValueEvent baseName="MTL_TO_OHXC_INDEX_AREA" relativeName="MTL_TO_OHXC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_HANDSHAKE_AREA" relativeName="MTL_TO_OHXC_HANDSHAKE_AREA"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_CURRENT_CAR_ID" relativeName="MTL_TO_OHXC_CURRENT_CAR_ID"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST" relativeName="MTL_TO_OHXC_MTL_CAR_OUT_REQUEST"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY" relativeName="MTL_TO_OHXC_REPLY_OHXC_CAR_OUT_NOTIFY"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK" relativeName="MTL_TO_OHXC_REQUEST_CAR_IN_DATA_CHECK"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_LFT_STATUS" relativeName="MTL_TO_OHXC_LFT_STATUS"></ValueEvent>
    <ValueEvent baseName="MTL_TO_OHXC_CST_INTERFACE" relativeName="MTL_TO_OHXC_CST_INTERFACE"></ValueEvent>

    <ValueEvent baseName="OHXC_TO_MTL_INDEX_AREA" relativeName="OHXC_TO_MTL_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_HANDSHAKE_AREA" relativeName="OHXC_TO_MTL_HANDSHAKE_AREA"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND" relativeName="OHXC_TO_MTL_DATE_TIME_SYNC_COMMAND"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD" relativeName="OHXC_TO_MTL_DATA_MESSAGE_DOWNLOAD"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO" relativeName="OHXC_TO_MTL_CAR_OUT_REALTIME_INFO"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_CAR_OUT_REPLY" relativeName="OHXC_TO_MTL_CAR_OUT_REPLY"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_CAR_OUT_NOTIFY" relativeName="OHXC_TO_MTL_CAR_OUT_NOTIFY"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK" relativeName="OHXC_TO_MTL_REPLY_CAR_IN_DATA_CHECK"></ValueEvent>
    <ValueEvent baseName="OHXC_TO_MTL_CST_INTERFACE" relativeName="OHXC_TO_MTL_CST_INTERFACE"></ValueEvent>
  </EQObject>-->
</EQMapToValueEvent>