<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援三種：Equipment_Load、Equipment_UnLoad、Equipment_LUMix-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->

<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="OHS_LINE">
    <Zone id="OHS_ZONE">
      <Node id="OHS_NODE" node_num="1" >
        <Vehicle id="OHx01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction_Taichung6F, ScriptControl" tcpipAgentName="OHxC_TO_OHx01"/>
        <Vehicle id="OHx02" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction_Taichung6F, ScriptControl" tcpipAgentName="OHxC_TO_OHx02"/>
        <Vehicle id="OHx03" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction_Taichung6F, ScriptControl" tcpipAgentName="OHxC_TO_OHx03"/>
        <Vehicle id="OHx04" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction_Taichung6F, ScriptControl" tcpipAgentName="OHxC_TO_OHx04"/>
        <Vehicle id="OHx05" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction_Taichung6F, ScriptControl" tcpipAgentName="OHxC_TO_OHx05"/>
        <Vehicle id="OHx06" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction_Taichung6F, ScriptControl" tcpipAgentName="OHxC_TO_OHx06"/>
        <Vehicle id="OHx07" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction_Taichung6F, ScriptControl" tcpipAgentName="OHxC_TO_OHx07"/>
        <Vehicle id="OHx08" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction_Taichung6F, ScriptControl" tcpipAgentName="OHxC_TO_OHx08"/>
        <!--<EQPT id="MTL" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.MTLValueDefMapAction, ScriptControl"/>-->
      </Node>
      <Node id="EQ_NODE" node_num="2" >
        <EQPT id="EQ1" communicationType="1" >
          <PortStation id="1001" unit_num="1"  adr_id ="1001"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="1017" unit_num="2"  adr_id ="1017"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="1009" unit_num="3"  adr_id ="1009"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="1006" unit_num="4"  adr_id ="1006"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
        </EQPT>
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>