<?xml version="1.0" encoding="utf-8" ?>
<!-- Connection Type: 1 = Mitsubishi, 2 = Mirle-->
<MPLCConnectionSetting>
  <Connection Name="OHx01" Type="1" LogicalStationNumber="1" ReadIntervalMilliSec="800" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="3000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="800" EndBlock="832"></ReadRange>
      <ReadRange BeginBlock="900" EndBlock="933"></ReadRange>
      <ReadRange BeginBlock="A00" EndBlock="AC8"></ReadRange>
    </Device>

  </Connection>
  <Connection Name="OHx02" Type="1" LogicalStationNumber="2" ReadIntervalMilliSec="800" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="3000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="800" EndBlock="832"></ReadRange>
      <ReadRange BeginBlock="900" EndBlock="933"></ReadRange>
      <ReadRange BeginBlock="A00" EndBlock="AC8"></ReadRange>
    </Device>
  </Connection>
  <Connection Name="OHx03" Type="1" LogicalStationNumber="3" ReadIntervalMilliSec="800" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
                AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="3000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="800" EndBlock="832"></ReadRange>
      <ReadRange BeginBlock="900" EndBlock="933"></ReadRange>
      <ReadRange BeginBlock="A00" EndBlock="AC8"></ReadRange>
    </Device>
  </Connection>

  <Connection Name="MTL" Type="1" LogicalStationNumber="3" ReadIntervalMilliSec="500" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
              AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="100000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="00C2A" EndBlock="00C4C"></ReadRange>
      <!--<ReadRange BeginBlock="00C39" EndBlock="00C4C"></ReadRange>-->
    </Device>
    <Device Type="B" BufferLength="1000" IdRadix="16" BlockBitCount="16" DeviceBitCount="1">
      <ReadRange BeginBlock="0270" EndBlock="028F"></ReadRange>
    </Device>
  </Connection>

</MPLCConnectionSetting>